body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/pageBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* 투명한 흰색 배경 */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.signup-btn, .login-btn {
    display: block;
    margin-top: 15px;
    text-align: center;
    background-color: #6C757D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #5a6268;
}
.menu-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 투명한 흰색 배경 */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-btn {
    display: block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

.forest {
    position: relative;
    width: 1161px;
    height: 615px;
    /* border: 1px solid black; */
    overflow: hidden;
    background-image: url('/background.png');  /* 이미지 경로는 실제 파일 위치에 따라 변경될 수 있습니다. */
    background-size: cover;  /* 배경 이미지 크기를 게임 보드에 맞게 조절합니다. */
    background-position: center;  /* 배경 이미지를 중앙에 위치시킵니다. */
    }
    
.tree {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-image: url('/Tree.png');
    background-size: cover;
    /* background-color: green; */
    transform: translate(-50%, -100%);
    z-index: 1;
}
    
.tree.age-0 {
    opacity: 1;
}

.tree.age-1 {
    opacity: 1;
}

.tree.age-2 {
    opacity: 1;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
    color: black;
}

/* 퀴즈 페이지 전체 배경 */
.quizBackground {
    background-image: url('/pageBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 퀴즈 박스 */
.quiz-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

    